alias ld='eza -lD'
alias lf='eza -alf --color=always'
alias lh='eza -dl .* --group-directories-first'
alias ll='eza -al --group-directories-first'
alias la='eza -alF --color=always --sort=size'
alias lt='eza -al --sort=modified'

alias fmt="astyle \"$HOME/code/*.cpp\" -p -f -j -xg -xe --style=attach --recursive -n -Q && find $HOME/code/ -name \"*.rs\" -exec rustfmt -l {} \;"
alias idlog='ssh -t me23b015@10.24.8.242 '\''export PATH=$PATH:$HOME/apps/bin; zsh'\'
